@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;1,200&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 6.5rem;
    background: #222;
    z-index: 1000000;
    position: fixed;
}
.nav h2{
    color: #fff;
    font-size: 1.7rem;
}
#item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#item li{
    list-style: none;
    padding-right: 50px;
    
}
#item li a{
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
}
#item li a:hover, #item .icon i:hover{
    color: #ff5733;
    cursor: pointer;
}
#item .icon i{
    color: #fff;
    padding-right: 30px;
    font-weight: bolder;
}
.back{   
    background-image: url("bg.jpg");   
    width: 100%;
    height: 100vh;
    background-size: cover;
    z-index: -1;
}
.back .overlay{
    background: #171819;
    width: 100%;
    height: 100%;
    opacity: .85;
}
.mid{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.mid p{
    color:#7f8c8d;
    font-size: 1.3rem;
    margin-bottom: 1.4rem;
}
.mid h2{
    color:#fff;
    font-size: 3rem;
    text-transform: uppercase;
}
.mid .btn{
    margin-top: 2rem;
}
.mid .btn a{
    text-decoration: none;
    text-transform: uppercase;
}
.simple{
    color: #fff;
    font-weight: 500;
    padding: .9rem 1.6rem;
}
.simple:hover{
    color: #ff5733;   
}
.border{
    color: #ff5733;
    border: 1px solid #ff5733 ;
    border-radius: 3px;
    font-weight: 500;
    padding: .9rem 1.6rem;
}
.border:hover{
    background: #fff;
    border: 1px solid white;
}
.details{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 15rem;
    background: #171819;
    
}
.details h3,h5,h6{
    color: #fff;
}
.details .one {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.details .two{
    width: 45%;
    border-left: 1px solid #666262;
    padding-left: 4rem;
}
.details .one h3{
    font-size: 2.5rem;
    padding-bottom: 1.1rem;
}
.details .one h6{
    font-size: 1.3rem;
    font-weight: 400;
    padding-bottom: 1.2rem;
}
.details .one p{
    color: #666262;
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
}
.details .one a{
    color: #fff;
    padding: 1rem 0;
    background: #f13a11;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}
.details .two h3{
    font-size: 2.5rem;
}
.details .two h6{
    font-size: 1.1rem;
}
.trainer{
    padding: 8rem;
    background: #f9f9f9;
}

.trainer .about{
    width: 39%;
}
.trainer .about h2{
    color: #212529;
    font-size: 2.1rem;
    padding-bottom: 1.8rem;
}
.trainer .about p{
    color: #7f8c8d;
    font-size: 1.1rem;
    
}
.trainer .people{
    width: 55%;
}